DEVELOPMENT/services/ESB2_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ESB2"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ESB2OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ESB2OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Phone" type="xsd:string"></xsd:element>
						<xsd:element name="Email" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ESB2OperationRequest">
		<wsdl:part name="parameters" element="tns:ESB2OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ESB2OperationResponse">
		<wsdl:part name="parameters" element="tns:ESB2OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ESB2PortType">
		<wsdl:operation name="ESB2Operation">
			<wsdl:input message="tns:ESB2OperationRequest"></wsdl:input>
			<wsdl:output message="tns:ESB2OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ESB2Binding" type="tns:ESB2PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ESB2Operation">
			<soap:operation soapAction="http://www.talend.org/service/ESB2Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ESB2">
		<wsdl:port name="ESB2Port" binding="tns:ESB2Binding">
			<soap:address location="http://localhost:8090/services/ESB2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>