DEVELOPMENT/services/ESB_Student_service_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ESB_Student_service"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ESB_Student_serviceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ESB_Student_serviceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="phone" type="xsd:string"></xsd:element>
						<xsd:element name="email"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ESB_Student_serviceOperationRequest">
		<wsdl:part name="parameters" element="tns:ESB_Student_serviceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ESB_Student_serviceOperationResponse">
		<wsdl:part name="parameters" element="tns:ESB_Student_serviceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ESB_Student_servicePortType">
		<wsdl:operation name="ESB_Student_serviceOperation">
			<wsdl:input message="tns:ESB_Student_serviceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:ESB_Student_serviceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ESB_Student_serviceBinding" type="tns:ESB_Student_servicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ESB_Student_serviceOperation">
			<soap:operation soapAction="http://www.talend.org/service/ESB_Student_serviceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ESB_Student_service">
		<wsdl:port name="ESB_Student_servicePort" binding="tns:ESB_Student_serviceBinding">
			<soap:address location="http://192.168.1.253:8090/services/ESB_Student_service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>