DEVELOPMENT/services/ESB_Pranita_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ESB_Pranita"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ESB_PranitaOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ESB_PranitaOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ESB_PranitaOperationRequest">
		<wsdl:part name="parameters" element="tns:ESB_PranitaOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ESB_PranitaOperationResponse">
		<wsdl:part name="parameters" element="tns:ESB_PranitaOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ESB_PranitaPortType">
		<wsdl:operation name="ESB_PranitaOperation">
			<wsdl:input message="tns:ESB_PranitaOperationRequest"></wsdl:input>
			<wsdl:output message="tns:ESB_PranitaOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ESB_PranitaBinding" type="tns:ESB_PranitaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ESB_PranitaOperation">
			<soap:operation soapAction="http://www.talend.org/service/ESB_PranitaOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ESB_Pranita">
		<wsdl:port name="ESB_PranitaPort" binding="tns:ESB_PranitaBinding">
			<soap:address location="http://localhost:8090/services/ESB_Pranita" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>