DEVELOPMENT/services/megha_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="megha"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="meghaOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="meghaOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="meghaOperationRequest">
		<wsdl:part name="parameters" element="tns:meghaOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="meghaOperationResponse">
		<wsdl:part name="parameters" element="tns:meghaOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="meghaPortType">
		<wsdl:operation name="meghaOperation">
			<wsdl:input message="tns:meghaOperationRequest"></wsdl:input>
			<wsdl:output message="tns:meghaOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="meghaBinding" type="tns:meghaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="meghaOperation">
			<soap:operation soapAction="http://www.talend.org/service/meghaOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="megha">
		<wsdl:port name="meghaPort" binding="tns:meghaBinding">
			<soap:address location="http://localhost:8090/services/megha" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>