DEVELOPMENT/services/Melita_API_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Melita_API"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Melita_APIOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Melita_APIOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Melita_APIOperationRequest">
		<wsdl:part name="parameters" element="tns:Melita_APIOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Melita_APIOperationResponse">
		<wsdl:part name="parameters" element="tns:Melita_APIOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Melita_APIPortType">
		<wsdl:operation name="Melita_APIOperation">
			<wsdl:input message="tns:Melita_APIOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Melita_APIOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Melita_APIBinding" type="tns:Melita_APIPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Melita_APIOperation">
			<soap:operation soapAction="http://www.talend.org/service/Melita_APIOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Melita_API">
		<wsdl:port name="Melita_APIPort" binding="tns:Melita_APIBinding">
			<soap:address location="http://localhost:8090/services/Melita_API" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>