DEVELOPMENT/services/Person_ESB_Service_Pranita_V2_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Person_ESB_Service_Pranita_V2"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Person_ESB_Service_Pranita_V2OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="ID" type="xsd:int"></xsd:element>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Person_ESB_Service_Pranita_V2OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:int"></xsd:element>
						<xsd:element name="First_Name"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Last_Name"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Age" type="xsd:int">
						</xsd:element>
						<xsd:element name="City"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Person_ESB_Service_Pranita_V2OperationRequest">
		<wsdl:part name="parameters" element="tns:Person_ESB_Service_Pranita_V2OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Person_ESB_Service_Pranita_V2OperationResponse">
		<wsdl:part name="parameters" element="tns:Person_ESB_Service_Pranita_V2OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Person_ESB_Service_Pranita_V2PortType">
		<wsdl:operation name="Person_ESB_Service_Pranita_V2Operation">
			<wsdl:input message="tns:Person_ESB_Service_Pranita_V2OperationRequest"></wsdl:input>
			<wsdl:output message="tns:Person_ESB_Service_Pranita_V2OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Person_ESB_Service_Pranita_V2Binding" type="tns:Person_ESB_Service_Pranita_V2PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Person_ESB_Service_Pranita_V2Operation">
			<soap:operation soapAction="http://www.talend.org/service/Person_ESB_Service_Pranita_V2Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Person_ESB_Service_Pranita_V2">
		<wsdl:port name="Person_ESB_Service_Pranita_V2Port" binding="tns:Person_ESB_Service_Pranita_V2Binding">
			<soap:address location="http://localhost:8090/services/Person_ESB_Service_Pranita_V2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>