DEVELOPMENT/services/Pranita_ESB_Service_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Pranita_ESB_Service"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Pranita_ESB_ServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Pranita_ESB_ServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="phone" type="xsd:string"></xsd:element>
						<xsd:element name="email"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Pranita_ESB_ServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:Pranita_ESB_ServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Pranita_ESB_ServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:Pranita_ESB_ServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Pranita_ESB_ServicePortType">
		<wsdl:operation name="Pranita_ESB_ServiceOperation">
			<wsdl:input message="tns:Pranita_ESB_ServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Pranita_ESB_ServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Pranita_ESB_ServiceBinding" type="tns:Pranita_ESB_ServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Pranita_ESB_ServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/Pranita_ESB_ServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Pranita_ESB_Service">
		<wsdl:port name="Pranita_ESB_ServicePort" binding="tns:Pranita_ESB_ServiceBinding">
			<soap:address location="http://localhost:8090/services/Pranita_ESB_Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>