DEVELOPMENT/services/Predoole_SOAP_3007_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Predoole_SOAP_3007"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Predoole_SOAP_3007OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Predoole_SOAP_3007OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orderAmount" type="xsd:double"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Predoole_SOAP_3007OperationRequest">
		<wsdl:part name="parameters" element="tns:Predoole_SOAP_3007OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Predoole_SOAP_3007OperationResponse">
		<wsdl:part name="parameters" element="tns:Predoole_SOAP_3007OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Predoole_SOAP_3007PortType">
		<wsdl:operation name="Predoole_SOAP_3007Operation">
			<wsdl:input message="tns:Predoole_SOAP_3007OperationRequest"></wsdl:input>
			<wsdl:output message="tns:Predoole_SOAP_3007OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Predoole_SOAP_3007Binding" type="tns:Predoole_SOAP_3007PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Predoole_SOAP_3007Operation">
			<soap:operation soapAction="http://www.talend.org/service/Predoole_SOAP_3007Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Predoole_SOAP_3007">
		<wsdl:port name="Predoole_SOAP_3007Port" binding="tns:Predoole_SOAP_3007Binding">
			<soap:address location="http://localhost:8092/services/Predoole_SOAP_3007" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>