DEVELOPMENT/services/schema_transfer_2307_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="schema_transfer_2307"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="schema_transfer_2307OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="schema_transfer_2307OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TABLE_NAME"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="schema_transfer_2307OperationRequest">
		<wsdl:part name="parameters" element="tns:schema_transfer_2307OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="schema_transfer_2307OperationResponse">
		<wsdl:part name="parameters" element="tns:schema_transfer_2307OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="schema_transfer_2307PortType">
		<wsdl:operation name="schema_transfer_2307Operation">
			<wsdl:input message="tns:schema_transfer_2307OperationRequest"></wsdl:input>
			<wsdl:output message="tns:schema_transfer_2307OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="schema_transfer_2307Binding" type="tns:schema_transfer_2307PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="schema_transfer_2307Operation">
			<soap:operation soapAction="http://www.talend.org/service/schema_transfer_2307Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="schema_transfer_2307">
		<wsdl:port name="schema_transfer_2307Port" binding="tns:schema_transfer_2307Binding">
			<soap:address location="http://localhost:8091/services/schema_transfer_2307" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>