DEVELOPMENT/services/SOAP_Service_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAP_Service"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SOAP_ServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="product_id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SOAP_ServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"></xsd:element>
						<xsd:element name="type" type="xsd:string">
						</xsd:element>
						<xsd:element name="plant_id"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SOAP_ServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:SOAP_ServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SOAP_ServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:SOAP_ServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SOAP_ServicePortType">
		<wsdl:operation name="SOAP_ServiceOperation">
			<wsdl:input message="tns:SOAP_ServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SOAP_ServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SOAP_ServiceBinding" type="tns:SOAP_ServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SOAP_ServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/SOAP_ServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SOAP_Service">
		<wsdl:port name="SOAP_ServicePort" binding="tns:SOAP_ServiceBinding">
			<soap:address location="http://localhost:8090/services/SOAP_Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>